/* General Styles */
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #365E32;
    padding: 10px;
    border-radius: 10px;
}

.logo img {
    height: 40px;
    width: 150px;
}

.feedback-btn {
    text-decoration: none;
    color: #E7D37F;
    font-weight: bold;
    background-color: #365E32;
    text-align: center;
    padding: 2px 13px;
}

.feedback:hover {
    background-color: #5b825780;
}

.feedback-form {
    display: none;
    position: fixed;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    right: 3px;
    transition: ease-in-out 0.3s;
}

.feedback-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}   

.search {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 28px;
    background-color: #f8d5d5;
}

.search-input {
    font-size: 16px;
    margin-left: 10px;
    outline: none;
    border: none;
    background: transparent;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.head {
    text-align: center;
}

.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    background-color: #365E32;
}

.catItem {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: #000;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    font-weight: bold;
    text-align: center;
}

#mainCourse {
    background-image: url(/images/mainCourse.jpg);
}
#starters {
    background-image: url(/images/starters.webp);
}
#desserts {
    background-image: url(/images/desserts.jpg);
}
#beverages {
    background-image: url(/images/beverages.jpg);
}
#salads {
    background-image: url(/images/salads.jpg);
}
#breads {
    background-image: url(/images/breads.webp);
}

.cart {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #0fa18e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined {
    font-size: 24px;
}

/* Food Section Styles */
.food-section {
    display: none;
    padding: 20px;
    position: absolute;
    top: 110px;
    width: 97.38%;
    background-color: #f9f9f9;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.food-section .back-button {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0;
    margin-right: auto;
}

.food-item {
    display: flex;
    justify-content: normal;
    align-items: center;
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    width: 50vw;
}

.item-quantity {
    margin-left: 10px;
    font-weight: bold;
}

/* Cart Section Styles */

#cartSection {
    top: 0;
    padding: 20px;
    min-height: 200vh;
    background-color: #f9f9f9;
    position: absolute;
    align-items: center;
    display: none;
    flex-direction: column;
    height: auto;
    overflow-y: auto;
    border: #000 15px double;
    width: 100vw;
    
}

#cartSection .back-button {
    margin-left: 0;
    margin-right: auto;
}

.line{
    border: 2px solid #000000;
    width: 100vw;
}

#cartSection h1{
    font-size: 50px;
}

#cartSection label{
    font-size: 20px;
    font-weight: bold;
}

#cartItems .food-item {
    justify-content: space-between;
}

#tableNumber{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

#submitOrderButton {
    margin-top: 0px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;

}

.offers {
    background-image: url(/images/offer.png);
    background-size: cover;
    align-items: center;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    height: 100vh;
}

.add-to-cart {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 0;
    margin-left: auto;
}